




body{
    background-color: #1B1C26;
}

h1{
    background-color:white;
    border-radius: 3px;
    color: black;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 0.5em;
    text-transform: uppercase;
    text-align: center;
}

.viewbg{
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.btn-signup{
    background-color: #773AC4;
}

.tmain{
    color: white;
    font-size: 1.5em;
}

.tmain p:first-child{
    color: #6C6C6C;
    font-size: 0.8em;
}

.tmain p:last-child{
    color: #AC35FF;
}

.card{
    border-radius: 0 0 .25em .25em;
    border:0;
}

.tab{
   background-color: #773AC4;
   border-radius: .25em .25em 0 0;
}

.nav-item{
    width: 50%;
}

.tab-l{
    border-radius: .25em 0 0 0 !important;
    color: white;
}

.tab-r{
    border-radius: 0 .25em 0 0 !important;
    color: white;
}

.nav-link:hover{
    color:black;

}

.active{
    background-color: white !important;
    color: #773AC4 !important;
}

.card{
    border:0;
}

.card-title label{
    color: #6C6C6C;
    font-weight: 700;
    font-size: 1em;
}

.card-title i{
    color: #9860D5;
    font-weight: 500;
    font-style: normal;
}

.icons{
    display: block;
}

.icons input{
    padding-left: 40px;
    margin-top: -24px;
}

.icons img{
    /* border: 1px solid green; */
    margin-bottom: -12px;
    margin-left: 10px;

}

.form-group small{
    font-size: .7em;
    color: #A4A4A4;
    font-weight: 500;
}

.form-group small a{
    color: #36A8FF;
    font-weight: 600;
}

.btn-landing{
    text-transform: uppercase;
    border-radius: 50px;
    background-color: #4F2498 !important;
    width: 100%;
    border:0;

    box-shadow: 1px 4px 10px #4F2498;
}



@media (min-width: 769px){
    h1{
        width: 200px;
        height: 32px;
        text-align: center;
        margin: 0;
        font-size: .9em;
        border-radius: 2px;
        font-weight: 700;
    }


    .ejemplo{
        display: flex;
        
        justify-content: flex-end;
    }

    .ejemplo button{
        height: 32px;
        width: 110px;
        font-size: .8em;
        font-weight: 700;
        border: 0;
        margin-left: 10px;
    }

    .ejemplo input{
        width: 140px;
        height: 32px;
        font-size: .9em;
        padding-bottom: 10px;
        color: #BDBDBD;
        margin-left: 10px;
    }

    .tmain{
        padding-top: 100px;
        font-weight: 600;
    }

}

@media(min-width: 992px){
    h1{
        width: 220px;
        height: 32px;
        text-align: center;
        margin: 0;
        font-size: .9em;
        border-radius: 2px;
        font-weight: 700;
    }

    .ejemplo button{
        height: 32px;
        width: 155px;
        font-size: .9em;
        font-weight: 700;
        border: 0;
        margin-left: 10px;
    }

    .ejemplo input{
        width: 230px;
        height: 32px;
        font-size: .9em;
        padding-bottom: 10px;
        color: #BDBDBD;
        margin-left: 10px;
    }

    .tmain{
        font-size: 2.3em;
        font-weight: 400;
        line-height: 30px;
        padding-left: 30px !important;
    }

    .tmain p:first-child{
        font-size: .5em;
    }

    

}

@media (min-width: 1200px){
    h1{
        width: 220px;
        height: 32px;
        text-align: center;
        margin: 0;
        font-size: .9em;
        border-radius: 2px;
        font-weight: 700;
    }


    .ejemplo{
        display: flex;
        
        justify-content: flex-end;
    }

    .ejemplo button{
        height: 32px;
        width: 155px;
        font-size: .9em;
        font-weight: 700;
        border: 0;
        margin-left: 10px;
    }

    .ejemplo input{
        width: 250px;
        height: 32px;
        font-size: .9em;
        padding-bottom: 10px;
        color: #BDBDBD;
        margin-left: 10px;
    }

    .tmain{
        font-size: 2.8em;
        font-weight: 400;
        line-height: 45px;
    }

    .tmain p:first-child{
        font-size: .5em;
    }
}

@media (max-width: 768px){

    .btn-signup{
        width: 100%;
        border: none;
    }

    h1{
        margin-bottom: 3.5em;
        margin-top: 5em;
    }

    
}


